[submodule "NomadCode/NomadCode.UIExtensions"]
	path = NomadCode/NomadCode.UIExtensions
	url = https://github.com/colbylwilliams/NomadCode.UIExtensions
[submodule "NomadCode/NomadCode.ClientAuth"]
	path = NomadCode/NomadCode.ClientAuth
	url = https://github.com/colbylwilliams/NomadCode.ClientAuth
