[submodule "NomadCode/NomadCode.Azure"]
	path = NomadCode/NomadCode.Azure
	url = https://github.com/colbylwilliams/NomadCode.Azure
[submodule "NomadCode/NomadCode.UIExtensions"]
	path = NomadCode/NomadCode.UIExtensions
	url = https://github.com/colbylwilliams/NomadCode.UIExtensions
[submodule "NomadCode/NomadCode.BotFramework"]
	path = NomadCode/NomadCode.BotFramework
	url = https://github.com/colbylwilliams/NomadCode.BotFramework
[submodule "NomadCode/NomadCode.ClientAuth"]
	path = NomadCode/NomadCode.ClientAuth
	url = https://github.com/colbylwilliams/NomadCode.ClientAuth
